<ul id="nav">
  <li<%= ' class=current' if page_classes == "index" %>>
    <%= link_to 'about', '/' %>
  </li>
  <li<%= ' class=current' if page_classes.include? "blog" %>>
    <%= link_to 'blog', '/blog' %>
  </li>
</ul>
