---
title: "tackkkle"
background_image: "tackkkle-1680.jpg"
---
<% content_for :assets do %>
  <%= javascript_include_tag "tackkkle.js", "jquery.isotope.min.js" %>
<% end %>
<div id="wrapper">
  <div id="intro"><strong>tackkkle:</strong> when dribbbling isn't enough <span>(and because I just can't get my hands on an invite)</span>.<br/>
    Over there, you get <em>shots</em>, here, you get <em>punches</em>.</div>
  <ul id="punches">
    <% @punches.each do |punch| %>
      <%= partial(:punches, :locals => { :punch => punch }) %>
    <% end %>
    <div class="clear"></div>
  </ul>
</div>
